<h3> How to Use Note Keeper </h3>

<ol>
	<li> First, make an account <a href="/users">here</a> </li>
	<li> Go to the <a href="/notes">Notes index page</a> and select your username </li>
	<li> Click the <strong>Add Note</strong> button to add a note </li>
	<li> That note will be saved under that username </li>
	<li> To edit and/or delete a note: Go to the <a href="/notes">Notes index page</a>, select your username, and click the VIEW link under the note you wish to edit or delete </li>
</ol>