<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css"> 
	<title>NOTE KEEPER</title>
</head>
<body>
	<header>
		<h1>Note Keeper</h1>
		<nav>
			<a href="/"> Home </a>
			<a href="/users"> Make Account</a>
			<a href="/notes"> Notes </a>
		</nav>
	</header>

	<main>
		<%= yield %>
	</main>

	<footer>
	</footer>
</body>
</html>