
<%if @user %>
<h3>Add Note for <%=@user.username%> </h3>
<br />
<form>
	<input name="content" value="" placeholder="Enter note...">
	<button>Add Note</button>
</form>

<% else %>
	<h3> Uh oh... seems to be a problem! Return <a href="/">HOME</a></h3>
<% end %>
